*.iml
target
target/*
scripts
scripts/*
logging.properties
/.idea
.DS_Store
/rest/application.error.logfile_IS_UNDEFINED*
/rest/application.logfile_IS_UNDEFINED*
/rest/src/test/resources/FLUXFAReportMessage_PROD.xml
/rest/src/test/resources/FLUXFAReportMessage_PROD_EDITED.xml
/rest/src/test/resources/FLUXFAReportMessage_PROD_ORIG.zip
/application/src/main/webapp/apidocs/
