<configuration debug="false">
    <property resource="logging.properties"/>
    <appender name="cloud-watch-j256" class="com.j256.cloudwatchlogbackappender.CloudWatchAppender">
        <region>eu-west-1</region>
        <createLogDests>true</createLogDests>
        <printRejectedEvents>true</printRejectedEvents>
        <!--<logGroup>DG##DIGIT##Project##WildFly##ENV##DEV##gregoan-j256</logGroup>-->
        <logGroup>eks-fluentbit</logGroup>
        <logStream>${application.name}</logStream>
        <layout>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %X{mdcvars:--} %-5level %logger{35} - %msg%n</pattern>
        </layout>
    </appender>
    <logger name="eu.europa.ec.fisheries.uvms" level="INFO"/>
    <root level="ERROR">
        <appender-ref ref="cloud-watch-j256"/>
    </root>
</configuration>