<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">


    <context-param>
        <param-name>javamelody.datasources</param-name>
        <param-value>java:jboss/datasources/uvms_activity</param-value>
    </context-param>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>javamelody</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>displayed-counters</param-name>
			<param-value>http,sql,ejb,error,log</param-value>
		</init-param>
		<init-param>
			<param-name>system-actions-enabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>storage-directory</param-name>
			<param-value>javamelody-mobilterminal</param-value>
		</init-param>
		<init-param>
			<param-name>datasources</param-name>
			<param-value>java:jboss/datasources/uvms_activity</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>javamelody</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

 	<filter-mapping>
 		<filter-name>AuthenticationFilter</filter-name>
 		<url-pattern>/rest/*</url-pattern>
 	</filter-mapping>
 	<filter>
 		<filter-name>AuthenticationFilter</filter-name>
 		<filter-class>eu.europa.ec.fisheries.uvms.rest.security.AuthenticationFilter</filter-class>
 	</filter>

 	<filter>
 		<filter-name>AuthorizationFilter</filter-name>
 		<filter-class>eu.europa.ec.fisheries.uvms.rest.security.AuthorizationFilter</filter-class>
 	</filter>
 	<filter-mapping>
 		<filter-name>AuthorizationFilter</filter-name>
 		<url-pattern>/rest/*</url-pattern>
 	</filter-mapping>
 	<context-param>
 		<param-name>usmApplication</param-name>
 		<param-value>Activity</param-value>
 	</context-param>
</web-app>