<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property resource="logging.properties"/>
    <contextName>${application.name}</contextName>
    <variable name="LOG_FILE_BASE_PATH" value="${application.logfile.base.path:-/app/logs}"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOG_FILE_BASE_PATH}/${application.logfile}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_BASE_PATH}/${application.logfile}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 100MB -->
            <maxFileSize>100MB</maxFileSize>
            <!-- total size of all archive files, if total size > 1GB, it will delete old archived file -->
            <totalSizeCap>1GB</totalSizeCap>
            <!-- 10 days to keep -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %X{mdcvars:--} %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="eu.europa.ec.fisheries.uvms" level="INFO"/>
    <root level="ERROR">
        <appender-ref ref="FILE"/>
    </root>
</configuration>